<a href="https://colab.research.google.com/github/eadamsRU/DataManagment/blob/main/PS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Grabs our Datasets uploaded on Github

aok: ok but give url to original data sources!

and have at least like 2 sentences or a paragraph describing what you are doing eg rationale, hypotheses etc

In [1]:
import csv
!wget -q -O SquadWages.csv https://github.com/eadamsRU/DataManagment/raw/main/Squad%20Wages.csv
!wget -q -O PlayerWages.csv https://github.com/eadamsRU/DataManagment/raw/main/Player%20Wages.csv

Save our csvs now in our directory as a dataframe

In [2]:
import pandas as pd
Squads = pd.read_csv('SquadWages.csv', encoding='unicode_escape')
Players = pd.read_csv('PlayerWages.csv', encoding='unicode_escape')

**This data shows the Premier league wages for both individual players and their respective squads for Annual and Weekly wages**

In [3]:
Squads.head(5)
Players.head(5)

,Rk,Player,Nation,Pos,Squad,Age,Player Weekly Wages,Player Annual Wages,Notes
0,1,Kevin De Bruyne,be BEL,MF,Manchester City,32,"Â£ 400,000 (Ã 466,428, $496,415)","Â£ 20,800,000 (Ã 24,254,260, $25,813,563)",NaN
1,2,Erling Haaland,no NOR,FW,Manchester City,23,"Â£ 375,000 (Ã 437,276, $465,389)","Â£ 19,500,000 (Ã 22,738,369, $24,200,216)",NaN
2,3,Casemiro,br BRA,MF,Manchester Utd,31,"Â£ 350,000 (Ã 408,125, $434,363)","Â£ 18,200,000 (Ã 21,222,478, $22,586,868)",NaN
3,4,Mohamed Salah,eg EGY,FW,Liverpool,31,"Â£ 350,000 (Ã 408,125, $434,363)","Â£ 18,200,000 (Ã 21,222,478, $22,586,868)",NaN
4,5,Raphaâl Varane,fr FRA,DF,Manchester Utd,30,"Â£ 340,000 (Ã 396,464, $421,952)","Â£ 17,680,000 (Ã 20,616,121, $21,941,529)",NaN

Merge the 2 datasets into one

In [4]:
PremLG = pd.merge(Squads,Players, on ='Squad', how = 'outer', indicator=True)

In [6]:
PremLG._merge.value_counts() #aok always investigate!

both          500
left_only       0
right_only      0
Name: _merge, dtype: int64

Save PremLG to PremGrouped and group by teh columns we are working with

In [7]:
PremGrouped = PremLG.groupby(['Squad','Player', 'Pos','Player Weekly Wages']).size()
#aok but does it make sense? it doesnt--groupy is used to reduce size, your size is still about 500obs

In [9]:
len(PremGrouped.reset_index())

498

**Arsenal Players, Positions, and their Weekly Wages**

The dataset because it is in English Pounds may have screwed up numerical values reading and trying to order.

I grabbed the Merged Dataset PremGRouped and found all the subsets in that for players belonging to the club Arsenal. From this I sorted by Position here to see how different positions are paid at one of the top clubs in the Premier League

In [ ]:
Arsenal = PremGrouped['Arsenal']
#Arsenal.groupby('Pos').agg('Count')
ArsenalDF = pd.DataFrame(Arsenal)

ArsenalDF.sort_values('Player Weekly Wages')
#ArsenalDF = Arsenal.reindex(['Player', 'Pos', 'Player Weekly Wagees'])
#print(ArsenalDF)
#Arsenal[['Player','Pos','Player Weekly Wages']].groupby('Player Weekly Wages').agg('max')

Arsenal[:11]
#ArsenalDF = pd.DataFrame(Arsenal)
#ArsenalDF
#ArsenalDF[['Player','Pos','Player Weekly Wages']].groupby('Player Weekly Wages').agg('mean')

In [ ]:
#ArsenalDF.sort_values('Player Weekly Wages')
ArsenalPos = ArsenalDF.sort_values('Pos')
ArsenalPos

In [ ]:
ArsenalDef = ArsenalPos[0:8]
ArsenalDef

This holds true that typically Attack players will get higher wages, Could be because there are less of them on the team and the budget(Squad Weekly Wages)allows for it

In [ ]:
#ArsenalDF.sort_values('Player Weekly Wages')
ArsenalAtt = ArsenalPos[10:16]
ArsenalAtt

***This shows the highest paid player for each club in the Premier League***

 Was unsure as to why these wages were the way. Think an issue with the csv dataset symbols was causing incorrect values for wages showing. Will have to clean the datasets before using

In [ ]:
PremTop = PremLG.sort_values('Squad Weekly Wages')
PremTop[['Squad','Player','Player Weekly Wages','Squad Weekly Wages']].groupby(['Squad','Squad Weekly Wages']).agg('max')

This breaks down how many Nations there are by Pos and how many in a Squad

In [ ]:
PremLG[['Squad','Player','Nation','Pos']].groupby(['Nation','Pos']).agg('count')

'''
How would I use this to show all the players from a specific country?
  Then save those to their own Dataframe?
'''
#Nations = PremLG[['Squad','Player','Nation','Pos']].groupby(['Nation','Pos']).agg('count')
#Nations['ar ARG']

In [ ]:
PremLG

In [ ]:
#PremGrouped['Player Wages'] = PremGrouped.groupby(['Squad', 'Player', 'Player Weekly Wages']).transform('size')

In [ ]:
#PremInner = pd.merge(Squads, Players, how='inner', on=['Squad']) #inner=keep match
#PremInner[['Squad','Player','Pos','Player Weekly Wages']].head(3)