<a href="https://colab.research.google.com/github/eadamsRU/DataManagment/blob/main/PS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import datasets, rename them.

URL: (international football reference website, has all leagues under competition tab, then went to Squad and Player Stats tab to download some tables for these)
https://fbref.com/en/comps/9/Premier-League-Stats


<br>the data must be from different sources!!! not all from one!!!
<br><br>

Had an issue with PS2 with currency symbols causing errors for ordering. Manually cleaned the files and renamed so any Wage amount should read in English Pounds. #aok ok awesome to note it! very good! still for the future ideally can process fully in python! sometimes may want to use different encoding for weird characters like say utf-8 instead of ascii; should be able to pass it when reading in the data

In [10]:
from google.colab import data_table
data_table.enable_dataframe_formatter() #aok this is useful for viewing

In [1]:
import csv
!wget -q -O PlayerShooting.csv https://raw.githubusercontent.com/eadamsRU/DataManagment/main/PremLG_PlayerShooting_Top20.csv
!wget -q -O SquadDef.csv https://raw.githubusercontent.com/eadamsRU/DataManagment/main/PremLG_SquadDefActions.csv
!wget -q -O SquadGK.csv https://raw.githubusercontent.com/eadamsRU/DataManagment/main/PremLG_SquadGK.csv
!wget -q -O SquadPossession.csv https://raw.githubusercontent.com/eadamsRU/DataManagment/main/PremLG_SquadPossession.csv
!wget -q -O SquadPassing.csv https://raw.githubusercontent.com/eadamsRU/DataManagment/main/PremLG_SquadPassing.csv
!wget -q -O SquadShot.csv https://raw.githubusercontent.com/eadamsRU/DataManagment/main/PremLG_SquadShoot.csv
!wget -q -O SquadStdStats.csv https://raw.githubusercontent.com/eadamsRU/DataManagment/main/PremLG_SquadStdStats.csv
!wget -q -O SquadWages.csv https://raw.githubusercontent.com/eadamsRU/DataManagment/main/Squad%20Wages_Updated.csv
!wget -q -O PlayerWages.csv https://raw.githubusercontent.com/eadamsRU/DataManagment/main/Player%20Wages_Updated.csv
!wget -q -O PlayerTop20.csv https://raw.githubusercontent.com/eadamsRU/DataManagment/main/PremLG_PlayerShooting_Top20.csv

In [2]:
import pandas as pd
PlayerShooting = pd.read_csv('PlayerShooting.csv', encoding='unicode_escape')
SquadDef = pd.read_csv('SquadDef.csv', encoding='unicode_escape')
SquadGK = pd.read_csv('SquadGK.csv', encoding='unicode_escape')
SquadPossession = pd.read_csv('SquadPossession.csv', encoding='unicode_escape')
SquadPassing = pd.read_csv('SquadPassing.csv', encoding='unicode_escape')
SquadShot = pd.read_csv('SquadShot.csv', encoding='unicode_escape')
SquadStdStats = pd.read_csv('SquadStdStats.csv', encoding='unicode_escape')
SquadWages = pd.read_csv('SquadWages.csv', encoding='unicode_escape')
PlayerWages = pd.read_csv('PlayerWages.csv', encoding='unicode_escape')
PlayerTop20 = pd.read_csv('PlayerTop20.csv', encoding='unicode_escape')

***Use this to get column names for each dataFram.***

Useful to see which ones I want to compare or grab from.

In [3]:
aok this doesnt run
#for col in SquadWages.columns:
#    print(col)

# Just replace on the var.columns for the df you want to check
for col in PremDef.columns:
    print(col)

NameError: ignored

Merges

In [4]:
PremLG = pd.merge(SquadWages,PlayerWages, on ='Squad', how = 'outer', indicator=True)

In [7]:
PremLG._merge.value_counts() #aok alaways have a look like this

both          20
left_only     15
right_only     0
Name: _merge, dtype: int64

In [12]:
PremLG #aok alaways have a look like this, so this was actually 1:m, did you even realize this?

,Rk_x,Squad,# Pl,Weekly Wages (Pounds)_x,Annual Wages (Pounds)_x,% Estimated,Rk_y,Player,Nation,Pos,Age,Weekly Wages (Pounds)_y,Annual Wages (Pounds)_y,Notes,_merge
0,1,Manchester Utd,32,"3,971,846","206,536,000",26%,3.0,Casemiro,BRA,MF,31.0,"350,000","18,200,000",NaN,both
1,1,Manchester Utd,32,"3,971,846","206,536,000",26%,5.0,Raphal Varane,FRA,DF,30.0,"340,000","17,680,000",NaN,both
2,1,Manchester Utd,32,"3,971,846","206,536,000",26%,7.0,Marcus Rashford,ENG,FW,25.0,"300,000","15,600,000",NaN,both
3,1,Manchester Utd,32,"3,971,846","206,536,000",26%,12.0,Anthony Martial,FRA,FW,27.0,"250,000","13,000,000",NaN,both
4,1,Manchester Utd,32,"3,971,846","206,536,000",26%,13.0,Jadon Sancho,ENG,"FW,MF",23.0,"250,000","13,000,000",NaN,both
5,1,Manchester Utd,32,"3,971,846","206,536,000",26%,14.0,Mason Mount,ENG,MF,24.0,"250,000","13,000,000",NaN,both
6,1,Manchester Utd,32,"3,971,846","206,536,000",26%,19.0,Bruno Fernandes,POR,"MF,FW",28.0,"240,000","12,480,000",NaN,both
7,2,Manchester City,26,"3,844,000","199,888,000",32%,1.0,Kevin De Bruyne,BEL,MF,32.0,"400,000","20,800,000",NaN,both
8,2,Manchester City,26,"3,844,000","199,888,000",32%,2.0,Erling Haaland,NOR,FW,23.0,"375,000","19,500,000",NaN,both
9,2,Manchester City,26,"3,844,000","199,888,000",32%,8.0,Bernardo Silva,POR,"MF,FW",28.0,"300,000","15,600,000",NaN,both
10,2,Manchester City,26,"3,844,000","199,888,000",32%,9.0,Jack Grealish,ENG,FW,27.0,"300,000","15,600,000",NaN,both
11,2,Manchester City,26,"3,844,000","199,888,000",32%,15.0,John Stones,ENG,CB,29.0,"250,000","13,000,000",NaN,both
12,2,Manchester City,26,"3,844,000","199,888,000",32%,20.0,Phil Foden,ENG,"FW,MF",23.0,"225,000","11,700,000",NaN,both
13,3,Arsenal,26,"3,193,000","166,036,000",8%,10.0,Kai Havertz,GER,"MF,FW",24.0,"280,000","14,560,000",NaN,both
14,3,Arsenal,26,"3,193,000","166,036,000",8%,11.0,Gabriel Jesus,BRA,FW,26.0,"265,000","13,780,000",NaN,both
15,3,Arsenal,26,"3,193,000","166,036,000",8%,17.0,Declan Rice,ENG,MF,24.0,"240,000","12,480,000",NaN,both
16,3,Arsenal,26,"3,193,000","166,036,000",8%,18.0,Martin ¯degaard,NOR,MF,24.0,"240,000","12,480,000",NaN,both
17,4,Chelsea,32,"2,887,000","150,124,000",59%,6.0,Raheem Sterling,ENG,"MF,FW",28.0,"325,000","16,900,000",NaN,both
18,4,Chelsea,32,"2,887,000","150,124,000",59%,16.0,Reece James,ENG,DF,23.0,"250,000","13,000,000",NaN,both
19,5,Liverpool,23,"2,595,000","134,940,000",36%,4.0,Mohamed Salah,EGY,FW,31.0,"350,000","18,200,000",NaN,both
20,6,Tottenham,31,"2,170,000","112,840,000",41%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
21,7,Aston Villa,27,"2,150,000","111,800,000",36%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,8,West Ham,25,"1,748,000","90,896,000",23%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
23,9,Newcastle Utd,30,"1,705,000","88,660,000",29%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,10,Everton,24,"1,488,808","77,418,000",48%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,11,Nott'ham Forest,36,"1,330,577","69,190,000",82%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,12,Crystal Palace,27,"1,267,885","65,930,000",58%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
27,13,Brighton,29,"1,121,500","58,318,000",72%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
28,14,Bournemouth,28,"1,009,500","52,494,000",70%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
29,15,Fulham,26,"945,000","49,140,000",68%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
30,16,Wolves,27,"940,000","48,880,000",63%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
31,17,Brentford,28,"741,500","38,558,000",93%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
32,18,Burnley,33,"693,000","36,036,000",78%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
33,19,Sheffield Utd,30,"545,500","28,366,000",58%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
34,20,Luton Town,25,"457,500","23,790,000",88%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [13]:
PremPassing = pd.merge(SquadWages,SquadPassing, on ='Squad', how = 'outer', indicator=True)
PremShot = pd.merge(SquadWages,SquadShot, on ='Squad', how = 'outer', indicator=True)
PremPossession = pd.merge(SquadWages,SquadPossession, on ='Squad', how = 'outer', indicator=True)
PremDef = pd.merge(SquadWages,SquadDef, on ='Squad', how = 'outer', indicator=True)
PremGK = pd.merge(SquadWages,SquadGK, on ='Squad', how = 'outer', indicator=True)
PremPassPoss = pd.merge(SquadPassing,SquadPossession, on ='Squad', how = 'outer', indicator=True)
PremTop20 = pd.merge(PlayerWages,PlayerTop20, on ='Squad', how = 'outer', indicator=True)
#aok: again no investigation whatsover; AND you want to probably merge everything into one dataset,
# not sure whats the purpose of the above to have like 7 separate datasets

In [26]:
PremPassing[['Squad','_merge']]

              Squad _merge
0    Manchester Utd   both
1   Manchester City   both
2           Arsenal   both
3           Chelsea   both
4         Liverpool   both
5         Tottenham   both
6       Aston Villa   both
7          West Ham   both
8     Newcastle Utd   both
9           Everton   both
10  Nott'ham Forest   both
11   Crystal Palace   both
12         Brighton   both
13      Bournemouth   both
14           Fulham   both
15           Wolves   both
16        Brentford   both
17          Burnley   both
18    Sheffield Utd   both
19       Luton Town   both

Many to one merge. No errors, I changed this to right merge expecting it to just be the single columns and no dupes from PlayerWages, why is this stilll have some columns with x and y?

aok: no the one below is NOT 1:m; the one earlier was; this is one player to one player; there is _x and _y if was same var name in original data

In [ ]:
PlayerMoney = pd.merge(PlayerWages,PlayerTop20, on = ['Squad','Player'], how = 'right', indicator=True)

In [16]:
a=pd.merge(PlayerWages,PlayerTop20, on = ['Squad','Player'], how = 'outer', indicator=True)
a[['Squad','Player','_merge']] #and sort on squad to see if no repeats within squad that didnt merge

              Squad              Player      _merge
0   Manchester City     Kevin De Bruyne   left_only
1   Manchester City      Erling Haaland        both
2    Manchester Utd            Casemiro   left_only
3         Liverpool       Mohamed Salah        both
4    Manchester Utd      Raphal Varane   left_only
5           Chelsea     Raheem Sterling   left_only
6    Manchester Utd     Marcus Rashford   left_only
7   Manchester City      Bernardo Silva   left_only
8   Manchester City       Jack Grealish   left_only
9           Arsenal         Kai Havertz   left_only
10          Arsenal       Gabriel Jesus   left_only
11   Manchester Utd     Anthony Martial   left_only
12   Manchester Utd        Jadon Sancho   left_only
13   Manchester Utd         Mason Mount   left_only
14  Manchester City         John Stones   left_only
15          Chelsea         Reece James   left_only
16          Arsenal         Declan Rice   left_only
17          Arsenal     Martin ¯degaard   left_only
18   Manchester Utd     Bruno Fernandes   left_only
19  Manchester City          Phil Foden   left_only
20        Tottenham       Son Heung-min  right_only
21    Newcastle Utd      Alexander Isak  right_only
22         West Ham        Jarrod Bowen  right_only
23           Wolves      Hwang Hee-chan  right_only
24   Crystal Palace     Odsonne douard  right_only
25         Brighton       Evan Ferguson  right_only
26        Brentford        Bryan Mbeumo  right_only
27          Arsenal         Bukayo Saka  right_only
28      Aston Villa       Ollie Watkins  right_only
29    Newcastle Utd       Callum Wilson  right_only
30  Manchester City      Julin çlvarez  right_only
31  Nott'ham Forest       Taiwo Awoniyi  right_only
32          Everton  Abdoulaye Doucour  right_only
33          Burnley         Lyle Foster  right_only
34        Brentford      Mathias Jensen  right_only
35      Aston Villa        Douglas Luiz  right_only
36         Brighton         Solly March  right_only
37         Brighton        Kaoru Mitoma  right_only

In [18]:
PlayerMoney.head(3)

Warning: Total number of columns (34) exceeds max_columns (20). Falling back to pandas display.

,Rk_x,Player,Nation_x,Pos_x,Squad,Age_x,Weekly Wages (Pounds),Annual Wages (Pounds),Notes,Rk_y,...,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches,_merge
0,1.0,Kevin De Bruyne,BEL,MF,Manchester City,32.0,"400,000","20,800,000",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,2.0,Erling Haaland,NOR,FW,Manchester City,23.0,"375,000","19,500,000",NaN,1.0,...,0.0,1.0,2.0,7.9,6.3,0.21,0.1,0.7,Matches,both
2,3.0,Casemiro,BRA,MF,Manchester Utd,31.0,"350,000","18,200,000",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [20]:
PlayerMoney.dtypes

Rk_x                      float64
Player                     object
Nation_x                   object
Pos_x                      object
Squad                      object
Age_x                     float64
Weekly Wages (Pounds)      object
Annual Wages (Pounds)      object
Notes                     float64
Rk_y                      float64
Nation_y                   object
Pos_y                      object
Age_y                      object
Born                      float64
90s                       float64
Gls                       float64
Sh                        float64
SoT                       float64
SoT%                      float64
Sh/90                     float64
SoT/90                    float64
G/Sh                      float64
G/SoT                     float64
Dist                      float64
FK                        float64
PK                        float64
PKatt                     float64
xG                        float64
npxG                      float64
npxG/Sh                   float64
G-xG                      float64
np:G-xG                   float64
Matches                    object
_merge                   category
dtype: object

Player goals, why is this not sorting by top goal scorers? #aok: need inplace=true

In [21]:
PlayerMoney.sort_values('Gls', ascending =False, inplace=True)
PlayerMoney[['Squad','Player','Gls','Weekly Wages (Pounds)']]

              Squad              Player  Gls Weekly Wages (Pounds)
1   Manchester City      Erling Haaland  8.0               375,000
20        Tottenham       Son Heung-min  6.0                   NaN
21    Newcastle Utd      Alexander Isak  6.0                   NaN
22         West Ham        Jarrod Bowen  5.0                   NaN
23           Wolves      Hwang Hee-chan  5.0                   NaN
3         Liverpool       Mohamed Salah  5.0               350,000
27          Arsenal         Bukayo Saka  4.0                   NaN
29    Newcastle Utd       Callum Wilson  4.0                   NaN
28      Aston Villa       Ollie Watkins  4.0                   NaN
26        Brentford        Bryan Mbeumo  4.0                   NaN
25         Brighton       Evan Ferguson  4.0                   NaN
24   Crystal Palace     Odsonne douard  4.0                   NaN
30  Manchester City      Julin çlvarez  3.0                   NaN
31  Nott'ham Forest       Taiwo Awoniyi  3.0                   NaN
32          Everton  Abdoulaye Doucour  3.0                   NaN
33          Burnley         Lyle Foster  3.0                   NaN
34        Brentford      Mathias Jensen  3.0                   NaN
35      Aston Villa        Douglas Luiz  3.0                   NaN
36         Brighton         Solly March  3.0                   NaN
37         Brighton        Kaoru Mitoma  3.0                   NaN
0   Manchester City     Kevin De Bruyne  NaN               400,000
2    Manchester Utd            Casemiro  NaN               350,000
4    Manchester Utd      Raphal Varane  NaN               340,000
5           Chelsea     Raheem Sterling  NaN               325,000
6    Manchester Utd     Marcus Rashford  NaN               300,000
7   Manchester City      Bernardo Silva  NaN               300,000
8   Manchester City       Jack Grealish  NaN               300,000
9           Arsenal         Kai Havertz  NaN               280,000
10          Arsenal       Gabriel Jesus  NaN               265,000
11   Manchester Utd     Anthony Martial  NaN               250,000
12   Manchester Utd        Jadon Sancho  NaN               250,000
13   Manchester Utd         Mason Mount  NaN               250,000
14  Manchester City         John Stones  NaN               250,000
15          Chelsea         Reece James  NaN               250,000
16          Arsenal         Declan Rice  NaN               240,000
17          Arsenal     Martin ¯degaard  NaN               240,000
18   Manchester Utd     Bruno Fernandes  NaN               240,000
19  Manchester City          Phil Foden  NaN               225,000

Interesting find is the top teams seem to have less crosses into box compared to those lower in the Premier league, they also seem to have more passes attempted and completed.

This is odd to me as crosses into box tend to lead to more chances, so they should score more, making

In [ ]:
#PremPassing.sort_values('Total_Att', ascending =False)
PremPassing[['Squad','Weekly Wages (Pounds)','Total_Att','Total_Cmp%','Crosses into Box']]

Wanted to see if there was disparity between top teams having more touches than weaker team in the attacking third. This was expected.

In [ ]:
PremPossession[['Squad','Weekly Wages (Pounds)','Touches','Touches Def 3rd', 'Touches Att 3rd']]

**I want to compare the merges for how much teams are paying players and if there is something to be said for good goalies and good defense/ good goalies and good offense**

Can see that teams with a good keeper tend to win more while also having the higher shots on target %.

Could be a reason that in practice the players are giving these keepers more chances to practice game shots, making them better.

I could not find much insight from the defense data for what I was expecting to have from seeing a better offense or a better keeper with them.

In [ ]:
PremGK[['Squad','Weekly Wages (Pounds)','Save%','W','L','D']]

In [ ]:
PremShot[['Squad','Weekly Wages (Pounds)','Gls','SoT%']]

In [ ]:
PremDef[['Squad','Weekly Wages (Pounds)','TklW','Tkl%','Blocks','Int']]

***ERRORS***

I want to see breakdowns of player data and how it works with say a squads passing or possession and if any coorelation. This table does not seem right #aok, again should have investigated if it merged right!!!

In [ ]:
#  PremTop20[['Player','Weekly Wages (Pounds)','Gls','SoT%']]

In [ ]:
#  PremShot[['Squad','Weekly Wages (Pounds)','']]

**Errors**:
I tried to do this many to one initially below, I think I was just doing wrong columns. Which method is best for many to one?

aok: again you did  one at the beginning

Think it would be best to merge these then save the above slice of dataframes with spefic clumns and compare contrast with those.

In [ ]:
#  PremWages = SquadWages.merge(PlayerWages, on=["Squad","Weekly Wages (Pounds)"])
#  PremWages3 = SquadWages.merge(PlayerWages, on=["Squad","Weekly Wages (Pounds)"])
#  PremWages = SquadWages.merge(SquadPassing, on=["Squad","Weekly Wages (Pounds)"])
#  PremWages2 = pd.merge(SquadWages,SquadPassing, on = ['Squad','Total_Att'], how = 'outer', indicator=True)
#  PremOffense = pd.merge(SquadWages,SquadPassing, on = ['Squad','Total_Att'], how = 'outer', indicator=True)

***What I want to add in future:***

Bring these dataframes together to create cross tabs between defense and keeper data to seee if any relation between money spent and increase in defense performance. Same for offense, shot creations, on target shooting, etc.

From PS2 I had errors of wages and was causing Player stats to be incorrect, which is why I wnated to do merges on just Squad stats.

I think by doing this I eventually want to find some insight for player specific data(even if just a few players) and compare that with the broader Squad stats.